<div class="container user-login-container">
    <span class="login-headline">会員の方はこちらからログイン</span><br>

            <div class ="adminboxbox" style="margin-top: 50px; margin-left: 40px;">
            <% if flash[:alert] %>
            <%= flash[:alert] %>
            <% end %>
            <%= flash[:error] %>
            </div>
    <!--  login入力form -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row align-items-center">
        <div class="field-email">
          <span class="col-md-4 left-col"><% f.label :email %>メールアドレス</span>
          <span class="col-md-5"><%= f.email_field :email, size: "60x5", autofocus: true, autocomplete: "email",placeholder: "メールアドレス", class: "email-form" %></span>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="field-password">
          <span class="col-md-4 left-col"><% f.label :password %>パスワード</span>
          <span class="col-md-5"><%= f.password_field :password, size: "60x5", autocomplete: "current-password",placeholder: "パスワード", class: "password-form" %></span>
        </div>
      </div>
      <div class="row align-items-center">
        <span class="col-md-9 pass-new"><%= link_to '=>パスワードを忘れた方はこちら', new_user_password_path, class: "password-text" %></span>
      </div>
      <div class="row align-items-center">
        <div class="actions">
          <span class="col-md-4"></span>
          <span class="col-md-5"><%= f.submit "ログイン", class: "btn btn-primary login-button" %></span>
        </div>
      </div>
    <% end %>
   <!-- signupリンク -->
   <span class="login-headline">登録がお済みでない方</span><br>
   <div class="link-sign-up"><%= link_to 'こちら', new_user_registration_path %> から新規登録を行ってください。
   </div>
</div>

