<div class="container">

  <h4 style ="margin-top:100px;margin-bottom:40px;margin-left:50px;"><span style="background-color:#ffcc99">　ジャンル一覧：追加　</span></h4>

  <% if @genre.errors.any? %>
  <% @genre.errors.full_messages.each do |message| %>
  <%= message %>⚠︎
  <% end %>
  <% end %>


  <div class="row">

    <%= form_for(@genre,url:admins_genres_path) do |f| %>
      ジャンル <%= f.text_field :name %>
	    <label><%= f.radio_button :is_status, "true" %>有効</label>
	    <lavel><%= f.radio_button :is_status, "false" %>無効</lavel>
      <span style="margin-left:15px;"><%= f.submit "追加",class:"btn btn-primary btn" %></span>
    <% end %>



    <div class ="genretable" style="margin-top:30px">
    <table class ="table">
    	<thead>
    		<tr class="active">
    			<th width="50%">ジャンル</th>
    			<th>状態</th>
    			<th></th>
    		</tr>
    	</thead>

    		<% @genres.each do |genre| %>
    		<tr>
    			<td><%= genre.name %></td>
    			<td><% if genre.is_status  == true %>
                有効
              <% else %>
                無効
              <% end %>
          </td>
          <td><%= link_to "編集する",edit_admins_genre_path(genre.id),class:"btn btn-primary btn-sm" %></td>
    		</tr>
    		<% end %>

    </table>
  </div>

  </div>
</div>

