<div class="container admin-users-container">
	<span class="user-edit-headline"><%= @user.family_name %>
		<%= @user.first_name %>さんの会員情報編集</span>

	<!-- ここでちょっと間違えたんやけど、formをtableの中に入れたらhtmlの仕様で反応しなくなるので皆さんお気をつけて -->
		<%= form_for(@user,url:edit_admins_user_path(@user)) do |f| %>
			<div class="row sign-up-row top-row">
    			<div class="col-md-2">顧客ID</div>
    			<div class="col-md-2 admin-user-id">
					<%= @user.id %>
				</div>
			</div>

			<div class="row sign-up-row">
				<div class="col-md-2">氏名</div>
				<div class="col-md-2">
					<%= f.text_field :family_name, size: "25x5", class: "admin-edit-form" %>
				</div>
				<div class="col-md-2">
					<%= f.text_field :first_name, size: "25x5", class: "admin-edit-form" %>
				</div>
			</div>

			<div class="row sign-up-row">
				<div class="col-md-2">フリガナ</div>
				<div class="col-md-2">
					<%= f.text_field :kana_family_name, size: "25x5", class: "admin-edit-form" %>
				</div>
				<div class="col-md-2">
					<%= f.text_field :kana_first_name, size: "25x5", class: "admin-edit-form" %>
				</div>
			</div>

			<div class="row sign-up-row">
				<div class="col-md-2">郵便番号</div>
				<div class="col-md-2">
					<%= f.text_field :postal_code, size: "25x5", class: "admin-edit-form" %>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		
			<div class="row sign-up-row">
				<div class="col-md-2">住所</div>
				<div class="col-md-4">
					<%= f.text_field :address, size: "53x5", class: "admin-edit-form" %>
				</div>
			</div>

			<div class="row sign-up-row">
				<div class="col-md-2">電話番号</div>
				<div class="col-md-2">
					<%= f.text_field :phone_number, size: "25x5", class: "admin-edit-form" %>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row sign-up-row">
				<div class="col-md-2">メールアドレス</div>
				<div class="col-md-2">
					<%= f.email_field :email, size: "25x5", class: "admin-edit-form" %>
				</div>
				<div class="col-md-2">
				</div>
			</div>

			<div class="row sign-up-row">
				<div class="col-md-2">会員ステータス</div>
				<div class="col-md-2">
					<label><%= f.radio_button :is_active, "true" %>有効</label>
					<lavel><%= f.radio_button :is_active, "false" %>退会済み</lavel>
				</div>
			</div>

			<%= f.submit "変更を保存する", class: "btn btn-primary edit-admin-btn" %>
		<% end %>
</div>