<h2>注文情報入力</h2>

<%= form_for @order, url: users_orders_confirm_path do |f| %>

	<!-- 支払い方法 -->
	<h2>支払い方法</h2>
		<p>
			<label>
				<%= f.radio_button :is_payment_method, :クレジットカード, checked: "checked" %>クレジットカード</label>
		</p>
		<p>
			<label><%= f.radio_button :is_payment_method, :銀行振り込み %>銀行振り込み</label>
		</p>
	<h2>お届け先</h2>
		<label>
			<%= radio_button_tag("select_button", "user_address") %>
		</label>
		<P>郵便番号<span>
			<%= current_user.postal_code %>
			<%= current_user.address %>
			<%= current_user.family_name %>
			<%= current_user.first_name %></span>
		</P>
		<label>
			<%= radio_button_tag("select_button", "addresses_address") %>登録済み住所から選択</label><br>
			<%= f.label :user_id %>
			<%= select_tag :user_id,options_for_select(Address.where(user_id: current_user.id).map { |e| e.postal_code }) %><br>
			<%= current_user.address %>
			<label>
			<%= radio_button_tag("select_button", "new_user_address") %>新しいお届け先</label>
			<%= f.fields_for(@new_address) do |address| %>
			<p>郵便番号
				<%= address.text_field :postal_code %><span>ハイフンなし</span>
			</p>
			<p>住所
				<%= address.text_field :address %>
			</p>
			<p>宛名
				<%= address.text_field :name %>
			</p>
			<% end %>
			<%= f.submit "確認画面へ進む" %>
<% end %>