<div class="container new-container">
	<span class="order-history-headline">注文情報入力</span><br>

	<%= form_for @order, url: users_orders_confirm_path do |f| %>

		<!-- 支払い方法 -->
		<h4>支払い方法</h4>
			<p>
				<label class="pay-info">

					<%= f.radio_button :is_payment_method, :クレジットカード, checked: "checked" %><span class="text-box">クレジットカード</span>
				</label>

			</p>
			<p>
				<label class="pay-info"><%= f.radio_button :is_payment_method, :銀行振り込み %><span class="text-box">銀行振り込み</span></label>
			</p>
		<h4>お届け先</h4>
			<label class="pay-info">
				<%= radio_button_tag("select_button", "user_address", checked: "checked") %><span class="text-box">ご自身の住所</span>
			</label>
			<p class="user-info">郵便番号<span>
				<%= current_user.postal_code %><br>
				<%= current_user.address %><br>
				<%= current_user.family_name %>
				<%= current_user.first_name %></span><br>
			</P>
			<label class="pay-info">
				<%= radio_button_tag("select_button", "addresses_address") %><span class="text-box">登録済み住所から選択</span></label><br>

				<span class="user-info"><%= f.label :address_id %>
				<!-- 下記はaddree_idがf.fieldsで使われているので、"order[address_id]"の書き方 -->
				<%= select_tag "order[address_id]", options_from_collection_for_select(Address.where(user_id: current_user.id), :id, :address), style: "width: 200px;" %></span><br><br>
				<%#= select_tag :user_id, options_for_select(Address.where(user_id: current_user.id).map { |e| e.address }) %>
				<label class="pay-info">

				<%= radio_button_tag("select_button", "new_user_address") %><span class="text-box">新しいお届け先</span></label>
				<%= f.fields_for(@new_address) do |address| %>

					<p class="user-info">郵便番号(ハイフンなし)
						<%= address.text_field :postal_code, size: "25x5", class: "form-one" %>
					</p>
					<p class="user-info">住所
						<%= address.text_field :address, size: "60x5", class: "form-two" %>
					</p>
					<p class="user-info">宛名
						<%= address.text_field :name, size: "25x5", class: "form-two" %>
					</p>

				<% end %>
				<%= f.submit "確認画面へ進む", class: "btn btn-primary pay-btn" %>
	<% end %>
</div>