<div class="container admin-login-container">
      <div class="admin-login-head">
        <span class="admin-login-headline">管理者ログイン</span></br>
      </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row align-items-center">
              <span class="col-md-4 left-col"><%= f.label :email, "メールアドレス" %></span>
              <span class="col-md-5"><%= f.email_field :email, size: "60x5", autofocus: true, autocomplete: "email", class: "email-form" %></span>
          
          </div>

          <div class="row align-items-center">
              <span class="col-md-4 pass-admin"><%= f.label :password, "パスワード" %></span>
              <span class="col-md-5"><%= f.password_field :password, size: "60x5", autocomplete: "current-password", class: "password-form" %></span>
          
          </div>

          <div class="row align-items-center">
        <div class="admin-actions">
          <span class="col-md-4"></span>
          <span class="col-md-5"><%= f.submit "ログイン", class: "btn btn-primary login-button" %></span>
        </div>
      </div>
          
        <% end %>
</div>

