
<div class="container admin-login-container">

      <span class="login-headline"><h2>管理者ログイン</h2></span></br>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row align-items-center">
            <div class="field-email">
              <span class="col-md-4"><%= f.label :email, "メールアドレス" %></span>
              <span class="col-md-5"><%= f.email_field :email, size: "60x5", autofocus: true, autocomplete: "email", class: "email-form" %></span>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="field-password">
              <span class="col-md-4"><%= f.label :password, "パスワード" %></span></br></span>
              <span class="col-md-5"><%= f.password_field :password, size: "60x5", autocomplete: "current-password", class: "password-form" %></span>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="actions">
              <span class="col-md-5"><%= f.submit "ログイン", class: "btn btn-primary login-button" %></span>
            </div>
          </div>
        <% end %>

</div>

