<div class="container container-admin-order">  
  <span class="admin-order-item">商品一覧</span></br>
    <%= link_to(new_admins_item_path, class: "plus_link") do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  　<% end %>
    <table class ="table">
      <thead>
        <tr class="active">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody class="form-tbody">
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to admins_item_path(item.id) do %>
                  <%= item.name %>
                <% end %>
            </td>
            <td><%= item.price%></td>
            <td><%= item.genre.name%></td>
            <td><% if item.is_sale_status == true %>
                  販売中
                <% else %>
                  販売停止中
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>