<h3>商品詳細</h3>

  <%= attachment_image_tag @item, :picture,:fill,300,200,format:'jpg'%>

  <!-- ここで分割 -->

  商品名 <%= @item.name %><br>

  商品説明 <%= @item.description %><br>

  ジャンル <%= @item.genre.name %><br>

  税込価格(税抜価格) <%= @zeikomi %>(<%= @item.price %>)円<br>



  販売ステータス<% if @item.is_sale_status  == true %>
              販売中
            <% else %>
              売切れ
            <% end %>

  <!-- ここで分割 -->

  <%= link_to "編集する",edit_admins_item_path(@item.id) %>


